<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
</head>

<body>
  <div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
  <ul>

    <li>
      <a class="navbar-brand" href="/">
        <div class="logo-image">
          <img src="/static/images/logo.png" class="img-fluid">
        </div>
      </a>
    </li>
    <li>
      <a href="#" onclick="setURL('http://localhost:8501/?p=analysis')">Analysis</a>
    </li>
    <li>
      <a href="#" onclick="setURL('http://localhost:8501/?p=results')">Results</a>
    </li>
    <li>
      <a href="#" onclick="setURL('http://localhost:8501/?p=examples')">Examples</a>
    </li>


  </ul>
  <iframe src="http://localhost:8501/?p=home" id="streamlit_content" allowfullscreen frameborder="0"
    wmode="transparent">
    Your browser doesn't support iframes
  </iframe>

</body>
<script>
  function setURL(url) {
    document.getElementById('streamlit_content').src = url;
    console.log('Works!')
  }
</script>

</html>